.menu-btn {
  position: fixed;
  top: 1.1rem;
  left: 1.1rem;
  z-index: 1001;
  width: 2.3rem;
  height: 2.3rem;
  background: none;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0.4rem;
  cursor: pointer;
  transition: left 0.3s, top 0.3s;
}
.menu-btn span {
  display: block;
  width: 1.7rem;
  height: 0.23rem;
  background: #333;
  border-radius: 2px;
  transition: 0.3s;
} 